@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body{
  background-color: #082e99;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* custom */
@layer utilities {
  /* Custom scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Black background for the track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #0000FF, #000); /* Blue to black gradient */
    border-radius: 6px;
    animation: scroll-flow 3s infinite ease-in-out; /* Animation */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #0000FF, #1e3a8a); /* Darker blue on hover */
  }

  /* Scroll flow animation */
  @keyframes scroll-flow {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
}

.shadowy{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}